   <p>
        <ul class="projects">
        <% @projects.each do |project| %>
          <li class="project_name">
            <%= link_to project.name, "/projects/#{project.id}" %>

          </li>
        <% end %>
        </ul>
      </p>
