
<h2 class="country_name"><%= @country.name %></h2>



<h4> Oilfields </h4>
  <% @country.oilfields.each do |oilfield| %>

    <% end %>






<h4> Mines </h4>

  <% @mine.each do |mine| %>
  <% end %>

