



<h1> <%= "news section" %></h1>
  <ul>
    <li> ADD API </li>
    <li> article1 </li>
    <li> article2 </li>
  </ul>



<h1> <% current_company.cname %> Projects </h1>
<p>
        <ul class="projects">
        <% current_company.projects.each do |project| %>
          <li class="project_name">
            <%= link_to project.name, "/companies/#{current_company.id}/projects/#{project.id}" %>
            <p>

            </p>
          </li>
        <% end %>
        </ul>
      </p>
